MW_DOMAIN=world-of-warcraft.morgan-dev.com
MW_DB_PASSWORD=change-me
MW_JWT_SECRET=change-me-minimum-32-characters-long
MW_TRAEFIK_CERTRESOLVER=letsencrypt_dns
MW_WOTLK_DB_NETWORK=azerothcore-net
MW_AUTH_IMAGE=semorgana/mw-auth-service:latest
